.hero-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px;
    position: relative;

    &__logo {
        left: 40px;
        position: absolute;
        top: 40px;
        z-index: 10;
    }

    &__content {
        align-items: center;
        display: flex;
        flex: 1;
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__right {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-right: 25px;
    }

    &__title {
        font-family: var(--font-ys-display), sans-serif;
        font-size: var(--g-text-size-4xl);
        font-weight: 900;
        line-height: 1;
        margin: 30px 0 0;
    }

    &__description {
        font-size: var(--g-text-size-lg);
        line-height: 1.5;
        margin: 30px 0 0;
    }
}

.stats-block {
    align-items: center;
    background: var(--g-color-base-white);
    border-radius: 20px;
    display: flex;
    padding: 16px 24px;
    width: fit-content;

    &__item {
        align-items: center;
        display: flex;

        &_tasks {
            margin-left: 20px;
        }
    }

    &__text {
        font-size: var(--g-text-size-base);
        margin-left: 8px;
    }
}
