$gridBreakpoints: (
    'sm': 577px,
    'md': 769px,
    'lg': 1081px,
    'xl': 1185px,
    'xxl': 1248px,
);

.g-root {
    // Базовые цвета фона и текста
    --g-color-base-background: #e9ecf5;
    --g-color-text-primary: #000000;
    --g-font-family-sans: var(--font-ys-text), sans-serif;
}

.g-button {
    // Переопределяем CSS-переменные для всех кнопок
    --g-button-background-color: #000000;
    --g-button-background-color-hover: #1a1a1a;

    --g-button-border-radius: 20px;

    --g-button-font-size: 20px;

    --g-button-height: 68px;

    --g-button-padding: 82px;

    --g-button-text-color: #ffffff;
    --g-button-text-color-hover: #ffffff;
}
